.Posts-main {
    background-color: #fafafa;
}

.Postbox-article {
    margin-bottom: 60px;
    border-radius: 3px;
    border: 1px solid #e6e6e6;
    background-color: #fff;
    margin-left: -1px;
    margin-right: -1px;
}

.Postbox-narrow {
    flex-grow: 1;
    margin: 0 auto;
    max-width: 600px;
    position: relative;
    width: 100%;
    padding-top: 60px;
}

.Postbox-wide {
    display: flex;
    flex-flow: row nowrap;
    max-width: 935px;
}

.Postbox-header{
    height: 60px;
    padding: 16px;
    align-items: center;
    flex-direction: row;
    border-bottom: 1px solid #efefef;
    display: flex;
}

.Postbox-header-profile-pic-holder {
    align-self: center;
    display: block;
    flex: none;
}

.Postbox-header-profile-pic-item {
    width: 34px;
    height: 34px;
    background-color: #fafafa;
    border-radius: 50%;
    box-sizing: border-box;
    display: block;
    flex: 0 0 auto;
    overflow: hidden;
    position: relative;
}

.Postbox-header-picture {
    height: 100%;
    width: 100%;
}

.Postbox-header-author-details {
    margin-left: 16px;
    align-items: flex-start;
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    margin-left: 12px;
    overflow: hidden;
    flex-direction: column;
}

.Postbox-header-username {
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 5px;
    margin-left: -5px;
}

.Postbox-header-location {
    max-width: 100%;
    color: #262626;
    line-height: 15px;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.Postbox-picture {
    width: 600px;
}

.Postbox-button-holder-first {
    display: inline-block;
    margin-left: -8px;
}

.Postbox-button-holder-between {
    display: inline-block;
}

.Postbox-button-holder-last {
    display: inline-block;
    /* margin-left: auto; */
    margin-left: 426px;
    margin-right: -10px;
}

.Postbox-interactive {
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 4px;
}

.Postbox-interactive-button {
    min-height: 40px;
    min-width: 40px;
    align-items: center;
    background: 0 0;
    border: 0;
    cursor: pointer;
    display: flex;
    flex-grow: 0;
    justify-content: center;
    padding: 0;
}

.Span-like {
    height: 24px;
    width: 24px;
    background-size: 282px 248px;
    background-position: 0 -199px;
    background-image: url(https://www.instagram.com/static/bundles/es6/sprite_glyphs_2x_fba72cdd640a.png/fba72cdd640a.png)
}

.Span-comment {
    background-size: 282px 248px;
    background-position: -183px -25px;
    height: 24px;
    width: 24px;
    background-image: url(https://www.instagram.com/static/bundles/es6/sprite_glyphs_2x_fba72cdd640a.png/fba72cdd640a.png)
}

.Span-share {
    background-size: 282px 248px;
    background-position: -258px -175px;
    height: 24px;
    width: 24px;
    background-image: url(https://www.instagram.com/static/bundles/es6/sprite_glyphs_2x_fba72cdd640a.png/fba72cdd640a.png)
}

.Span-save {
    background-size: 282px 248px;
    background-position: -258px -50px;
    height: 24px;
    width: 24px;
    background-image: url(https://www.instagram.com/static/bundles/es6/sprite_glyphs_2x_fba72cdd640a.png/fba72cdd640a.png)
}

.Postbox-stats-wrapper {
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 8px;
}

.Postbox-stats-div {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1 1 auto;
    justify-content: flex-start;
    white-space: pre;
}

.Link-bold {
    font-weight: 600;
    color: #262626;
}

.Postbox-comments {
    margin: 0 0 auto;
    padding: 0 16px;
}

.Li-comment{
    overflow: hidden;
    padding-bottom: 6px;
    position: relative;
    width: 100%;
    word-wrap: break-word;
    margin-top: -5px;
    padding-top: 5px;
    margin-right: -2px;
    padding-right: 2px;
}

.Div-comment {
    display: inline-block;
    flex-shrink: 1;
    min-width: 0;
}

.username {
    align-items: center;
    display: inline-flex;
}

.username-link {
    color: #262626;
    margin-right: 4px;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 5px;
    margin-left: -5px;
}

.Postbox-date {
    padding-left: 16px;
    display: block;
    color: #999;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: .2px;
}

.Postbox-input {
    padding-left: 16px;
    padding-right: 16px;
    border-top: 1px solid #efefef;
    color: #999;
    flex-shrink: 0;
    font-size: 14px;
    line-height: 18px;
    min-height: 56px;
    justify-content: center;
    margin-top: 4px;
    display: flex;
    flex-direction: column;
}

.Create-comment {
    background: 0 0;
    border: 0;
    color: #262626;
    font-size: inherit;
    height: 18px;
    max-height: 80px;
    outline: 0;
    padding: 0;
    resize: none;
    height: 18px;
    flex-grow: 1;
}

.Create-comment-button {
    border: 0;
    color: #3897f0;
    display: inline;
    padding: 0;
    appearance: none;
    background: 0 0;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    font-weight: 600;
    padding: 5px 9px;
    text-align: center;
    text-transform: inherit;
    text-overflow: ellipsis;
    user-select: none;
    white-space: nowrap;
}

.Postbox-form{
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    flex-shrink: 1;
    position: relative;
}

.Post-display-item-wrapper {
    margin-right: 28px;
    flex: 1 0 0%;
}


.Post-display-item-wrapper:last-child {
    margin-right: 0px;
}

.Post-display-item {
    display: block;
    overflow: hidden;
    padding-bottom: 100%;
}

.Post-display-item-pic {
    object-fit: cover;
    height: 293px;
    width: 293px;
}

.Post-display-row{
    display: flex;
    flex-direction: row;
    margin-bottom: 28px;
}

.Post-new-header-pic-wrapper {
    height: 190px;
    width: 190px;
    margin: 2px 32px 0 124px;
    background-color: #3897f0;
    flex-shrink: 0;
}

.Post-new-header-details {
    flex: 1 1 auto;
    margin-right: 20px;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    margin-right: 100px;
}

.Post-new-caption-holder {
    padding-left: 16px;
    padding-right: 16px;
    border-top: 1px solid #efefef;
    color: #999;
    flex-shrink: 0;
    font-size: 14px;
    line-height: 18px;
    min-height: 174px;
    justify-content: center;
    /* margin-top: 16px; */
    padding-top: 16px;
    display: flex;
    flex-direction: column;
}

.Post-new-caption {
    background: 0 0;
    border: 0;
    color: #262626;
    font-size: inherit;
    height: 18px;
    max-height: 190px;
    width: auto;
    outline: 0;
    padding: 0;
    resize: none;
    height: 18px;
    flex-grow: 1;
}

.New-Post-aside {
    box-sizing: border-box;
    color: #262626;
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    /* padding-left: 32px;
    padding-right: 32px; */
    margin-left: 24px;
    margin-right: 32px;
    text-align: right;
    flex: 0 0 194px;
    margin-right: 28px
}

.Post-new-header-holder {
    flex-direction: row;
    margin: 32px 0 0;
    justify-content: flex-start;
    display: flex;
    /* border-bottom: 1px solid #efefef; */
}

.New-Post-Input-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 24px;
    padding-top: 18px;
    padding-bottom: 18px;
    border-top: 1px solid #efefef;

}

.New-Post-Input-wrapper:not(:first-child) {
    margin-top: 0;
}

.New-Post-div {
    display: flex;
    flex-direction: row;
    margin-left: 16px;
    padding-right: 60px;
    color: #262626;
    flex-grow: 1;
    font-size: 16px;
    justify-content: flex-start;
}

.New-Post-Input-holder {
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
}