.Profile-wrapper {
    background-color: #fafafa;
    flex-grow: 1;
    order: 4;
    display: flex;
    min-height: calc(100vh - 175px);

}

.Profile-holder {
    box-sizing: content-box;
    padding: 60px 20px 0;
    width: calc(100% - 40px);
    max-width: 935px;
    margin: 0 auto 30px;
}
.Profile-holder-edit {
    background-color: #fff;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    margin: 60px auto 0;
    max-width: 935px;
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.Profile-holder-header{
    display: flex;
    margin-bottom: 44px;
    flex-direction: row;
}

.Profile-holder-header-picture-wrapper {
    flex-basis: 0;
    flex-grow: 1;
    margin-right: 30px;
}

.Profile-holder-header-picture-holder {
    height: 150px;
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.Profile-holder-header-picture{
    background-color: #fafafa;
    border-radius: 50%;
    box-sizing: border-box;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
}

.Profile-holder-header-details{
    display: flex;
    flex-direction: column;
    flex-basis: 30px;
    color: #262626;
    flex-shrink: 1;
    flex-grow: 2;
    min-width: 0;
}

.Profile-holder-header-details-main{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-shrink: 1;
    min-width: 0;
    margin-bottom: 20px;
}

.Profile-holder-header-details-info{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.Profile-holder-header-details-details{
    display: block;
    font-size: 16px;
    line-height: 24px;
    word-wrap: break-word;
}

.Profile-holder-header-details-main h1{
    font-size: 28px;
    line-height: 32px;
    margin: -5px 0 -6px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #262626;
    font-weight: 300;
}

.Edit-profile{
    margin-left: 20px;
    text-decoration: none;
    display: block;
}

.Edit-profile-button{
    background-color: transparent;
    border: 1px solid #dbdbdb;
    color: #262626;
    border-radius: 4px;
    display: block;
    font-weight: 600;
    padding: 0 24px;
    text-align: center;
    user-select: none;
    outline: 0;
    cursor: pointer;
    font-size: 14px;
    line-height: 26px;
    overflow: hidden;
}
.Edit-profile-button-follow{
    background-color: #3897f0;
    border: 1px solid #dbdbdb;
    color: #fff;
    border-radius: 4px;
    display: block;
    font-weight: 600;
    padding: 0 24px;
    text-align: center;
    user-select: none;
    outline: 0;
    cursor: pointer;
    font-size: 14px;
    line-height: 26px;
    overflow: hidden;
}

.Edit-profile-button:disabled{
    background-color: white;
    border: 1px solid #dbdbdb;
    color: #262626;
    border-radius: 4px;
    display: block;
    font-weight: 600;
    padding: 0px 24px;
    text-align: center;
    user-select: none;
    outline: 0;
    cursor: pointer;
    font-size: 14px;
    line-height: 26px;
    overflow: hidden;
    opacity: .7;
}
.Edit-profile-button-follow:disabled{
    background-color: #3897f0;
    border: 1px solid #dbdbdb;
    color: #fff;
    border-radius: 4px;
    display: block;
    font-weight: 600;
    padding: 0px 24px;
    text-align: center;
    user-select: none;
    outline: 0;
    cursor: pointer;
    font-size: 14px;
    line-height: 26px;
    overflow: hidden;
    opacity: .7;
}

.settings {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    margin-left: 5px;
}

.settings-button {
    min-height: 40px;
    min-width: 40px;
    align-items: center;
    background: 0 0;
    border: 0;
    cursor: pointer;
    display: flex;
    flex-grow: 0;
    justify-content: center;
    padding: 0;
    outline: 0;
}

.settings-span {
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;
    background-size: 282px 248px;
    background-position: -258px -150px;
    background-image: url(https://www.instagram.com/static/bundles/es6/sprite_glyphs_2x_fba72cdd640a.png/fba72cdd640a.png)
}

.getbutton-holder{
    text-decoration: none;
    display: flex;
    align-items: center;
}

.Profile-pic {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.Profile-stats-info {
    font-size: 16px;
    margin-right: 40px;
}

.stats-numbers{
    color: #262626;
    font-weight: 600;
}

.Full-name{
    display: inline;
    font-weight: 600;
}

.Profile-holder-menu{
    border-top: 1px solid #efefef;
    align-items: center;
    color: #999;
    display: flex;
    flex-direction: row;
    font-size: 12px;
    font-weight: 600;
    justify-content: center;
    letter-spacing: 1px;
    text-align: center;
}

.Profile-holder-menu-item {
    color: #999;
    margin-right: 60px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    height: 52px;
    justify-content: center;
    text-transform: uppercase;
}

.showing {
    color: #262626;
}

.Profile-holder-menu-item-span {
    display: flex;
    align-items: center;
}

.SpritePhotoGridActive {
    background-repeat: no-repeat;
    background-size: 410px 396px;
    background-position: -189px -366px;
    height: 12px;
    width: 12px;
    background-image: url(https://www.instagram.com/static/bundles/es6/sprite_core_2x_6ba81dcece9b.png/6ba81dcece9b.png)
}

.SpriteTagged {
    background-repeat: no-repeat;
    background-size: 410px 396px;
    background-position: -315px -319px;
    height: 12px;
    width: 12px;
    background-image: url(https://www.instagram.com/static/bundles/es6/sprite_core_2x_6ba81dcece9b.png/6ba81dcece9b.png)
}

.Profile-holder-menu-item-text {
    margin-left: 6px;
}

.Profile-edit-menu {
    border-right: 1px solid #dbdbdb;
    flex-basis: 236px;
    flex-grow: 0;
    flex-shrink: 0;
}

.Profile-edit-li {
    border-left: 2px solid transparent;
    display: block;
    font-size: 16px;
    height: 100%;
    line-height: 20px;
    padding: 16px 16px 16px 30px;
    width: calc(100% - 48px);
    color: #262626;
}

.edit-li-inactive:hover {
    background-color: #fafafa;
    border-left-color: #dbdbdb;
}

.edit-li-active {
    border-left-color: #262626;
    font-weight: 600;
}

.Profile-edit-wrapper {
    flex: 1 1 400px;
    min-width: 50px;
    display: flex;
    flex-direction: column;
}

.Profile-edit-header-holder {
    flex-direction: row;
    margin: 32px 0 0;
    justify-content: flex-start;
    display: flex;
}

.Profile-edit-header-pic-wrapper {
    height: 38px;
    width: 38px;
    margin: 2px 32px 0 124px;
}

.Profile-edit-header-details {
    flex: 0 1 auto;
    margin-right: 20px;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.Profile-edit-title {
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 400;
}

.Profile-change-pic {
    border: 0;
    color: #3897f0;
    display: inline;
    padding: 0;
    outline: 0;
    appearance: none;
    background: 0 0;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: 600;
    text-align: center;
    text-transform: inherit;
    text-overflow: ellipsis;
    user-select: none;
    white-space: nowrap;
    font-size: 14px;
    line-height: 18px;
}

.Edit-Profile-Form {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    margin-top: 16px;
}

.Edit-Profile-Input-holder {
    margin-bottom: 16px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.Edit-Profile-aside {
    box-sizing: border-box;
    color: #262626;
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    padding-left: 32px;
    padding-right: 32px;
    text-align: right;
    flex: 0 0 194px;
}

.Edit-Profile-div {
    display: flex;
    flex-direction: row;
    padding-right: 60px;
    color: #262626;
    flex-grow: 1;
    font-size: 16px;
    justify-content: flex-start;
}

.Edit-Profile-input {
    appearance: none;
    outline: none;
    background: 0 0;
    border: 1px solid #efefef;
    border-radius: 3px;
    box-sizing: border-box;
    color: #262626;
    flex: 0 1 355px;
    font-size: 16px;
    height: 32px;
    padding: 0 10px;
}

.Edit-Profile-textarea {
    margin-top: 0px;
    margin-bottom: 0px;
    height: 44px;
    padding: 6px 10px;
    resize: vertical;
    background: 0 0;
    border: 1px solid #efefef;
    border-radius: 3px;
    box-sizing: border-box;
    color: #262626;
    flex: 0 1 355px;
    font-size: 16px;
    outline: none;
}

.Profile-edit-header-pic-holder {
    background-color: #fafafa;
    border-radius: 50%;
    box-sizing: border-box;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    height: 100%;
    width: 100%
}

.Profile-edit-change-pic {
    border: 0;
    cursor: pointer;
    padding: 0;
    height: 100%;
    width: 100%
}

.Profile-edit-img {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.Edit-main {
    background-color: #fafafa;
    flex-grow: 1;
    order: 4;
    display: flex;
}

.Profile-password-title{
    font-size: 24px;
    font-weight: 400;
    line-height: 38px;
}

.Edit-Password-input {
    border-radius: 6px;
    border: 1px solid #efefef;
    color: #262626;
    flex-grow: 1;
    font-size: 14px;
    line-height: 30px;
    margin: 0;
    overflow: visible;
    padding: 4px 12px;
    outline: 0;
    background: #fafafa;
}

.Edit-Password-Form {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    margin-top: 32px;
}

.Edit-Profile-submit {
    align-items: center;
    flex-direction: row;
    margin-top: 16px;
    display: flex;
    flex-direction: row;
}

.FollowList-z {
    display: flex;
    justify-content: space-around;
    align-items: center;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .5);
    flex-direction: column;
    position: fixed;
    z-index: 1;

}
.FollowList-holder {
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: #fff;
    border-radius: 12px;
    flex-shrink: 1;
    margin: 20px;
    max-height: calc(100% - 40px);
    animation: ease-out;
    flex: 1 1;
}

.FollowList-title-holder {
    display: flex;
    border-bottom: 1px solid #efefef;
    flex-direction: row;
    height: 43px;
}

.FollowList-title-corner {
    display: flex;
    flex-direction: column;
    flex: 0 0 48px;
    align-items: center;
    justify-content: center;
}

.FollowList-title-main {
    display: flex;
    flex-grow: 1;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.FollowList-title-exit {
    min-height: 40px;
    min-width: 40px;
    align-items: center;
    background: 0 0;
    border: 0;
    cursor: pointer;
    display: flex;
    flex-grow: 0;
    justify-content: center;
    padding: 0;
    outline: 0;
}

.FollowList-title-x {
    display: block;
    background-repeat: no-repeat;
    background-position: -52px -263px;
    height: 24px;
    width: 24px;
    background-image: url('https://www.instagram.com/static/bundles/es6/sprite_glyphs_4d61c80848f3.png/4d61c80848f3.png')
}

.FollowList-ul-wrapper {
    border-radius: 12px;
    display: block;
    flex: 1 1;
    min-height: 200px;
    overflow-y: scroll;
}

.FollowList-ul-holder {
    background: #fff;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    animation: ease-in-out
}

.FollowList-ul-li {
    display: flex;
    flex-direction: column;
    padding: 8px 16px;
}

.FollowList-ul-li-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.FollowList-ul-li-div-details-holder {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1 1 100px;
    overflow: hidden;
}

.FollowList-ul-li-div-details-pic {
    align-self: center;
    display: block;
    flex: none;
    margin: 4px 13px 4px 4px
}

.FollowList-canvas {
    position: absolute;
    top: -5px;
    left: -5px;
    width: 40px;
    height: 40px;
}

.FollowList-canvas-Link {
    background-color: #fafafa;
    border-radius: 50%;
    box-sizing: border-box;
    display: block;
    flex: 0 0 auto;
    overflow: hidden;
    position: relative;
    width: 30px;
    height: 30px;
}

.FollowList-canvas-image {
    height: 100%;
    width: 100%;
}

.FollowList-ul-li-div-details-user {
    display: flex;
    flex-direction: column;
    flex: 1 1 70px
}

.FollowList-detail-username, .FollowList-detail-username:visited {
    display: flex;
    flex-direction: row;
    align-content: center;
    color: #262626;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 5px;
    margin-left: -5px;
}

.FollowList-detail-names {
    font-size: 14px;
    font-weight: 400;
    line-height: 18pxl;
    color: #999;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.FollowList-ul-li-button-holder {
    display: flex;
    flex: 0 0 auto;
    justify-content: center;
    margin-left: 15px;
}

.FollowList-ul-li-button {
    background-color: transparent;
    border: 1px solid #dbdbdb;
    color: #262626;
    border-radius: 4px;
    position: relative;
    cursor: pointer;
    display: block;
    font-weight: 600;
    padding: 5px 9px;
    text-align: center;
    text-transform: inherit;
    text-overflow: ellipsis;
    user-select: none;
    white-space: nowrap;
    width: auto;
    outline: 0;
}